<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>1인 동전 갤러리</title>
    <link rel="stylesheet" href = "main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>
<body>

    <div class="top-banner">
        🎁 구매 문의를 하시면 1~2일 뒤 이메일로 답해드립니다.🎁
    </div>

    <header class="header">
        <div>
            <i class="fa-brands fa-viacoin"></i>
            <div>1인 동전 갤러리</div>
        </div>
        

        <div id = "another_site_link">
            <a href = "/"><div>Home</div></a>
            <a href = "/contacts/add"><div>Shop</div></a>
        </div>

        
    </header>
    <div class = "gap_space">

    </div>
    

    <section class="hero-section">
        <div class = "overlapping">

        </div>
        <div class="hero-content">
            <h1>1인 운영 동전 판매</h1>
            <p>근대 한국의 역사를 간직한 동전들을 만나보세요.</p>
            <p>각각의 동전은 옛부터 흘러온 시간의 흐름을 이야기합니다.</p>

        </div>
        <div class="hero-content-button"> 더 알아보기</div> 
    </section>



    <section id = "target" class="coin-sale-section">
        <h2>동전 판매</h2>
        <p  >근대부터 현대까지의 역사를 품은 다양한 동전</p>
    </section>


    <div class="grid-container">

        <div class="grid-item">
            <div class = "info_text"><h3>1972년 10원</h3></div>
            <img src="coin_images/coin1.jpg" alt="">
            

        
            <div class = "price_and_purchase">
                <h3>1000원</h3>
                <a href = "/contacts/add">구매문의</a>
        
            </div>
        </div>

        <div class="grid-item">
            <div class = "info_text"><h3>1974 50원</h3></div>
            <img src="coin_images/coin2.jpg" alt="">
            

        
            <div class = "price_and_purchase">
                <h3>1000원</h3>
                <a href = "/contacts/add">구매문의</a>
        
            </div>

        </div>
        <div class="grid-item">
            <div class = "info_text"><h3>1979년 50원</h3></div>
            <img src="coin_images/coin3.jpg" alt="">
            

        
            <div class = "price_and_purchase">
                <h3>1500원</h3>
                <a href = "/contacts/add">구매문의</a>
        
            </div>
        </div>
        <div class="grid-item">
            <div class = "info_text"><h3>2016년 50원(상태 최상)</h3></div>
            <img src="coin_images/coin4.jpg" alt="">
            

        
            <div class = "price_and_purchase">
                <h3>2500원</h3>
                <a href = "/contacts/add">구매문의</a>
        
            </div>
        </div>
        <div class="grid-item">
            <div class = "info_text"><h3>1974년 100원</h3></div>
            <img src="coin_images/coin5.jpg" alt="">
            

        
            <div class = "price_and_purchase">
                <h3>2500원</h3>
                <a href = "/contacts/add">구매문의</a>
        
            </div>
        </div>
        <div class="grid-item">
            <div class = "info_text"><h3>1975년 100원</h3></div>
            <img src="coin_images/coin6.jpg" alt="">
            

        
            <div class = "price_and_purchase">
                <h3>2500원</h3>
                <a href = "/contacts/add">구매문의</a>
        
            </div>
        </div>
        <div class="grid-item">
            <div class = "info_text"><h3>1979년 100원</h3></div>
            <img src="coin_images/coin7.jpg" alt="">
            

        
            <div class = "price_and_purchase">
                <h3>1500원</h3>
                <a href = "/contacts/add">구매문의</a>
        
            </div>
        </div>
        <div class="grid-item">
            <div class = "info_text"><h3>1982년 100원(재고:3)</h3></div>
            <img src="coin_images/coin8.jpg" alt="">
            

        
            <div class = "price_and_purchase">
                <h3>2000원</h3>
                <a href = "/contacts/add">구매문의</a>
        
            </div>
        </div>

        <div class="grid-item">
            <div class = "info_text"><h3>1987년 100원</h3></div>
            <img src="coin_images/coin9.jpg" alt="">
            

        
            <div class = "price_and_purchase">
                <h3>2000원</h3>
                <a href = "/contacts/add">구매문의</a>
            </div>
        </div>
        <div class="grid-item">
            <div class = "info_text"><h3>1988년 100원 (재고:10)</h3></div>
            <img src="coin_images/coin10.jpg" alt="">
            

        
            <div class = "price_and_purchase">
                <h3>1500원</h3>
                <a href = "/contacts/add">구매문의</a>
        
            </div>
        </div>
        <div class="grid-item">
            <div class = "info_text"><h3>1991년 100원</h3></div>
            <img src="coin_images/coin11.jpg" alt="">
            

        
            <div class = "price_and_purchase">
                <h3>1500원</h3>
                <a href = "/contacts/add">구매문의</a>
            </div>
        </div>
        <div class="grid-item">
            <div class = "info_text"><h3>1992년 100원 (재고:2)</h3></div>
            <img src="coin_images/coin12.jpg" alt="">
            

        
            <div class = "price_and_purchase">
                <h3>1500원</h3>
                <a href = "/contacts/add">구매문의</a>
        
            </div>
        </div>

        <div class="grid-item">
            <div class = "info_text"><h3>1994년 100원 (재고:3)</h3></div>
            <img src="coin_images/coin13.jpg" alt="">
            

        
            <div class = "price_and_purchase">
                <h3>1000원</h3>
                <a href = "/contacts/add">구매문의</a>
        
            </div>
        </div>
        <div class="grid-item">
            <div class = "info_text"><h3>1996년 100원</h3></div>
            <img src="coin_images/coin14.jpg" alt="">
            

        
            <div class = "price_and_purchase">
                <h3>1000원</h3>
                <a href = "/contacts/add">구매문의</a>
        
            </div>
        </div>
        <div class="grid-item">
            <div class = "info_text"><h3>1999년 100원 (재고:3)</h3></div>
            <img src="coin_images/coin15.jpg" alt="">
            

        
            <div class = "price_and_purchase">
                <h3>1000원</h3>
                <a href = "/contacts/add">구매문의</a>
        
            </div>
        </div>
        <div class="grid-item">
            <div class = "info_text"><h3>2017년 100원(상태 최상)</h3></div>
            <img src="coin_images/coin16.jpg" alt="">
            

        
            <div class = "price_and_purchase">
                <h3>2000원</h3>
                <a href = "/contacts/add">구매문의</a>
        
            </div>
        </div>
        
        <div class="grid-item">
            <div class = "info_text"><h3>1982~1996 100원</h3></div>
            <img src="coin_images/set_coin1.jpg" alt="">
            

        
            <div class = "price_and_purchase">
                <h3>10000원</h3>
                <a href = "/contacts/add">구매문의</a>
        
            </div>
        </div>
        <div class="grid-item">
            <div class = "info_text"><h3>1999~2017 100원</h3></div>
            <img src="coin_images/set_coin2.jpg" alt="">
            

        
            <div class = "price_and_purchase">
                <h3>15000원</h3>
                <a href = "/contacts/add">구매문의</a>
        
            </div>
        </div>

        

    </div>

    <div class="history-section">
        <h2>Our History & Value</h2>
        <p>상점의 규모는 작지만 저의 동전 컬렉션은 근대사를 담고 있으며, 각 동전은 고유의 스토리를 가지고 있습니다.</p>

    </section>


 

    <script src = "main.js" defer></script>
</body>
</html>