* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Arial', sans-serif;
    max-width: 100vw;
    overflow-x: hidden;
}

.top-banner {
    background-color: #FFA500;
    color: white;
    text-align: center;
    font-size: 0.9em;
    padding: 10px;
    font-weight: 600;
}
.overlapping{
    width: 100vw;
    height : 100%;
    z-index: 1;
    background-color: #666;
    position: absolute;
    opacity: 0.4;

}
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.header div{
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.15em;

}
.header div a{
    text-decoration: none;
    color : brown;
}

.header div i{

    font-size: 1.3em;

}

.gap_space{
    border-top: solid rgb(186, 186, 186);
    border-width: 0.11em;
    width : 100vw;
    height : 5vh;
    background-color: #ffffff;
}

.hero-section {
    background: url(https://cdn.qshop.ai/24637/ai/image/49cc5390e8ef11ef80329d2008b56e57.png/resize?v=w1920) fixed;
    position: relative;
    height: 80vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    padding: 0 0;
    background-size: cover;
    background-repeat: no-repeat;

}

.hero-content {
    max-width: 600px;
    z-index: 2;

}


.hero-content h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #f5f5f5;
    opacity: 0;


    transition: all 0.8s;
}

.hero-content p {
    margin-bottom: 30px;
    color: #f5f5f5;
    opacity: 0;

    transition: all 0.8s;
}

.hero-content-button {

    padding: 10px 20px;
    border: 2px solid #dad9d9;
    color: #e9e6e6;
    opacity: 0;

    border-radius: 5px;
    
    position: absolute;
    top : 63%;
    left : 17%;

    transition: all 0.7s;
    z-index: 1;
}

.coin-sale-section {
    padding: 50px 20px;
    text-align: center;

}

.coin-sale-section h2{
    font-size: 1.9em;
    color : rgb(40, 39, 39);

}
.coin-sale-section p{
    font-size: 1.3em;
    margin-top: 5px;
    color : rgb(139, 135, 135);

}

.grid-container {
    display: grid;
    gap: 40px;
    padding: 20px;
    /* PC 화면: 기본적으로 4개의 칼럼 */
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 40px;
    background-color: rgb(255, 255, 255);
}

.grid-item {
    background-color: #efeade;
    border-radius: 8px;
    /* 가로세로 비율 1:1 설정 */
    aspect-ratio: 6 / 7;
    position: relative;
    transition: all 0.3s ease;

}
.grid-item img {
    width: 80%; /* 부모 크기에 맞춤 */
    height: auto; /* 비율 유지 */
    border-radius: 8px; /* 둥글게 만들고 싶다면 추가 */
    margin-bottom: 0%;
    padding:0%;
    margin-top: 0%;
}

.grid-item-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    /* 내용이 넘칠 경우 스크롤 처리 */
    overflow: auto;
}


.grid-item {
    display: flex;
    flex-direction: column; /* 세로 정렬 */
    justify-content: space-around; /* 요소들 간 간격 유지 */
    align-items: center; /* 가운데 정렬 */
    padding: 10px;
}

.info_text{
    display: flex;
    padding: 0%;
    margin: 0%;
    align-items: center;
    justify-content: center;
    width : 80%;
    font-size: 92%;
    height : 10%;
}

.price_and_purchase{
    display: flex;
    padding: 0%;
    margin: 0%;
    align-items: center;
    justify-content: space-between;
    width : 80%;
    height : 12.5%;
    margin-top: 10px;
    font-size: 15px;
    line-height: 300px;
    
}

.price_and_purchase a{
    width : 100px;
    height : 70%;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin: 10px;
    line-height: normal;
    color: gray;
    font-size: 20px;
}


.price_and_purchase h3{
    font-weight: 550;
    color: #515151;
    line-height: normal

}



/* 모바일 화면: 2개의 칼럼 */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        max-width: 385px;
        gap: 30px;
    }

    .grid-item{ 
        max-width: 160px;
    }
    
    .grid-item-content {
        padding: 12px;
    }

    .info_text{

        width : 100%;
        font-size: 50%;
        height : 10%;
        font-weight: 200;
    }
    
   
    .price_and_purchase h3{
        font-weight: 200;
        color: #515151;
        font-size: 10px;
        width : 50px;
    }
    
    .price_and_purchase a{
        width : 100px;
        height : 75%;
        font-size: 15px;
        vertical-align: middle;
        display: flex;
        justify-content: center;
        text-decoration: none;
        margin: 8px;
        line-height: normal;
        color: gray;
    }

}

/* 매우 작은 화면: 1개의 칼럼 */
@media (max-width: 300px) {
    .grid-container {
        grid-template-columns: 1fr;
        max-width: 80%;
        gap: 20px;
        padding: 10px;
    }
    
    .grid-item-content {
        padding: 10px;
    }
}

/* 호버 효과 */
.grid-item:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);

}

.history-section {
    background-color: #7c6a49;
    color: white;
    padding: 50px 20px;
    text-align: center;
    margin-top: 20px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.history-section h2{
    font-size: 2.5em;
    margin: 10px;
}
.history-section p{
    font-size: 1.2em;
    
}


@media (max-width: 768px) {
    .header div{
        font-size: 12px;
    
    }
    
    .header div i{
    
        font-size: 1.1em;
    
    }

    
    .history-section {
        background-color: #7c6a49;
        color: white;
        padding: 10px 20px;
        text-align: center;
        margin-top: 50px;
        height: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 30px;
    }

    .history-section h2{
        font-size: 1.4em;
        margin: 10px;
    }
    .history-section p{
        font-size: 15px;
        
    }
    
    .hero-content p {
        margin-bottom: 30px;
        color: #f5f5f5;
        opacity: 0;
    
        transition: all 0.8s;
        font-size: 13px;
    }

    .hero-content h1 {
        font-size: 2.1em;
        margin-bottom: 20px;
        color: #f5f5f5;
        opacity: 0;
    
    
        transition: all 0.8s;
    }

}